<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Price</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item-divider>
    <ion-grid>
      <ion-text>
        <h2>
          Selected Service
        </h2>
      </ion-text>
      <ion-row class="ion-justify-content-start">
        <ng-container *ngFor="let service of selectedServices">
          <ion-col sizeSm="2" sizeMd="4" fixed>
            <div>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    <img src="../../assets/services-icons/{{service.svg}}"/>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  {{service.service}}
                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
        </ng-container>
      </ion-row>
      <ion-text>
        <h2>
          Car Size
        </h2>
      </ion-text>
      <ion-row class="ion-justify-content-start">
        <ion-col sizeSm="2" sizeMd="4" fixed>
          <div>
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  <img class="service-icon" src="../../assets/sizes-icons/{{selectedSize.svg}}"/>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{selectedSize.name}}
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item-divider>
  <ion-item-divider color="medium">
    <ion-text>
      <h2>
        Price : {{price | currency: currency}}   
      </h2>

    </ion-text>
  </ion-item-divider>
  
</ion-content>
