<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Car Size
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<ion-grid>
  <ion-row class="ion-justify-content-start">
    <ng-container *ngFor="let size of sizes">
      <ion-col sizeSm="6" sizeMd="4" fixed (click)="selectCarSize(size)">
        <div>
          <ion-card class="car-type-button" type='button' [ngClass]="{'highlight' : size.selected}">
            <ion-card-header>
              <ion-card-title>
                <img class="service-icon" src="../../assets/sizes-icons/{{size.svg}}"/>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{size.name}}
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ng-container>
    </ion-row>
  </ion-grid>
  <div id="container">
    <ion-button [routerLink]="['/price']" color="light">Continue</ion-button>
  </div>
</ion-content>