<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Car Size
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<ion-grid>
  <ion-row class="ion-justify-content-start">
    <ng-container *ngFor="let size of sizes">
      <ion-col sizeSm="6" sizeMd="4" (click)="selectCarSize(size)">
        <div>
          <ion-card [ngClass]="{'highlight' : size.selected}">
            <ion-card-header>
              <ion-card-title>
                <ion-icon name="car-outline"></ion-icon>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{size.name}}
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ng-container>
    </ion-row>
  </ion-grid>
  <div id="container">
    <ion-button [routerLink]="['/price']" color="light">Continue</ion-button>
  </div>
</ion-content>