
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Services
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-start">
      <ng-container *ngFor="let service of services">
        <ion-col sizeSm="6" sizeMd="4" fixed (click)="toggleSelectItem(service)">
          <div>
            <ion-card [ngClass]="{'highlight' : service.selected}">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon name="car-outline"></ion-icon>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{service.service}}
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
  <div id="container">
    <ion-button (click)="continue()" [routerLink]="['/car-size']" color="light">Continue</ion-button>
  </div>
</ion-content>
